PROJECT_NAME=home-network
ROUTER_HOST=http://192.168.0.1
ROUTER_USERNAME=admin
ROUTER_PASSWORD=change-me
DASHBOARD_URL=http://127.0.0.1:9091
INGEST_TOKEN=change-me
POLL_SECONDS=120
LAN_SUBNET=192.168.0.0/24
